.zoomIn{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.7);
    overflow:scroll;
}
.zoomIn>img{
    width:100%;
    vertical-align:middle;

}
.vertical-align-span { 
    display:inline-block; 
    width:0px; 
    height:100%; 
    vertical-align:middle; 
    margin-left: -2px;
}